.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.venv/**
__pycache__/**
.pytest_cache/**
uv.lock
pyproject.toml
test_output/**
*.py
!pyscripts/read_files.py
!pyscripts/requirements.txt
